body {
    background-color: black;
    color: white;
}
header, main, nav, footer{
    text-align: center;
}
nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}
nav .activepage{
    color:red;
}
nav a:hover {
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;
}
footer {
    font-size: .85em;
    clear: left;
}
a:link {
    color: white;
}
p {
    text-align:center;
    margin-left: 200px;
    margin-right: 200px;
}
#navhead {
     width:50%;
}
/* need 2 more*/